@CHARSET "UTF-8";

body {
	background-image: url(../pictures/denim.jpg);
	color: #fff;
	font-family: "Helvetica";
	margin: 0px;
	padding: 0px;
	margin-top: 90px;
}

h1 {
	font-size: 20px;
	color: #fff;
}

/* 
#################
Article
#################
*/

article {
	margin: 10px;
}

@media screen and (min-device-width: 768px) {
	article {
		-webkit-column-count: 2;
		-webkit-column-rule: solid 1px #cccccc;
		-webkit-column-gap: 20px;
	}
}

/* 
#################
Classes
#################
*/

.fakten {
	float: right;
	background-color:  #1d63cb;
	padding-left: 15px;
	padding-right: 15px;
	width: 45%;
	height: 250px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

/* 
#################
Kopfbereich
#################
*/

header {
	/*background-color: #1384ed;*/
	background-image: -webkit-linear-gradient(top, #1384ed, #204280);
	text-align: center;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
}

header h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
}
/* 
#################
Footerbereich
#################
*/

footer {
	box-shadow: 2px 5px 10px #ccc;
	text-align: center;
}

footer h1 {
	font-size: 20px;
	color: #ccc;
	text-transform: uppercase;
}
